.normal {
    background: linear-gradient(#A8A878 60%, #6D6D4E);
}

.fire {
    background: linear-gradient(#F08030 60%, #9C531F);
}

.water {
    background: linear-gradient(#6890F0 60%, #445E9C);
}

.electric {
    background: linear-gradient(#F8D030 60%, #A1871F);
}

.grass {
    background: linear-gradient(#78C850 60%, #4E8234);
}

.ice {
    background: linear-gradient(#98D8D8 60%, #638D8D);
}

.fighting {
    background: linear-gradient(#C03028 60%, #7D1F1A);
}

.poison {
    background: linear-gradient(#A040A0 60%, #682A68);
}

.ground {
    background: linear-gradient(#E0C068 60%, #927D44);
}

.flying {
    background: linear-gradient(#A890F0 60%, #6D5E9C);
}

.psychic {
    background: linear-gradient(#F85888 60%, #A13959);
}

.bug {
    background: linear-gradient(#A8B820 60%, #6D7815);
}

.rock {
    background: linear-gradient(#B8A038 60%, #786824);
}

.ghost {
    background: linear-gradient(#705898 60%, #493963);
}

.dragon {
    background: linear-gradient(#7038F8 60%, #4924A1);
}

.dark {
    background: linear-gradient(#705848 60%, #49392F);
}

.steel {
    background: linear-gradient(#B8B8D0 60%, #787887);
}

.fairy {
    background: linear-gradient(#EE99AC 60%, #9B6470);
}